src/**
tests/**
coverage/**
.github
node_modules
.babelrc
.eslint*
debug.js
.autod.conf.js
.eslintignore
.eslintrc
.gitignore
.travis.yml
appveyor.yml
package-lock.json
test{{name}}.test.js
README.zh_CN.md
LICENSE
